<div class="simplesearchform m-auto">
    <form autocomplete="off" method="get" accept-charset="utf-8" class="mform form-inline simplesearchform">
        <div class="input-group m-auto">
            <label for="searchinput-645e1cb4d43a3645e1cb4c359910">
                <span class="sr-only">{{ placeholder }}</span>
            </label>
            <input type="text" class="form-control" placeholder="{{ placeholder }}" aria-label="{{ placeholder }}" name="courselist_search" data-region="input" autocomplete="off" value="{{ searchvalue }}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary search-icon">
                    <i class="icon fa fa-search fa-fw " aria-hidden="true"></i>
                    <span class="sr-only">{{ placeholder }}</span>
                </button>
            </div>    
        </div>  
    </form>
</div>