<link rel="stylesheet" type="text/css" href="{{ wwwroot }}/filter/courselist/lib/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="{{ wwwroot }}/filter/courselist/lib/slick/slick-theme.css"/>

<style>
.slick-carousel.responsive .slick-carousel-container {
    margin: 0 30px;
    height: 1000px;
}
.slick-carousel.responsive .slick-prev {
    width: 40px;
    height: 40px;
    z-index: 99999;
    left: 0;
}
.slick-carousel.responsive .slick-next {
    width: 40px;
    height: 40px;
    z-index: 99999;
    right: 0px;
}
.slick-carousel.responsive .slick-prev,
.slick-carousel.responsive .slick-next {
    display: none !important;
}
.slick-carousel.responsive .slick-prev:before, .slick-carousel.responsive .slick-next:before {
    color: var(--primary);
    font-size: 40px;
}
.slick-carousel.responsive .slick-slide {
    padding: 16px;
}
.slick-carousel.responsive .slick-slide .dashboard-card {
    margin: 0 !important;
}
.hero-infobox {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.75);
    top: 1em;
    left: 1em;
    font-size: 2em;
}
.dashboard-card .dashboard-card-img.hero-img {
    height: 25rem !important;
}
.rounded-corners {
    border-radius: 2em !important;
}
.slick-dots  {
    position: absolute;
    bottom: 30px;
}
.slick-dots li {
    width: 70px !important;
    height: 1em !important;
    opacity: 1 !important;
}
.slick-dots li button:before {
    width: 60px !important;
    height: 1em !important;
    content: "" !important;
    background-color: var(--primary);
    opacity: 1 !important;
}
.slick-dots li.slick-active button:before {
    background-color: #64ee64;
}
.divided-flex-container {
    display: flex;
}
.divided-flex-container .divided-flex-child-1 {
    width: 55%;
}
.divided-flex-container .divided-flex-child-2 {
    width: 45%;
    background-color:  #2e3438;
    color: white;
    font-size: 1.25em;
}
.komptech-customfields {
    padding: 1em;
}
.komptech-customfields-icon {
    text-align: center;
    width: 2em;
}
.komptech-coursename {
    font-size: 1.5em;
}
.komptech-title {
    color: #64ee64;
    font-size: 2em;
}
</style>

<div id="carousel-container-{{uniqid}}" class="slick-carousel-container invisible">
    <div id="carousel-{{uniqid}}" class="slick-carousel responsive card-deck">

        {{#courses}}
        <div>
            <div class="card dashboard-card rounded-corners course-{{{id}}}{{{categories}}} w-100" role="listitem"
                data-region="course-content"
                data-course-id="{{{id}}}">
                <a class="divided-flex-container" href="{{wwwroot}}/course/view.php?id={{id}}" tabindex="-1">

                    <div class="divided-flex-child-1 hero-img card-img dashboard-card-img{{defaultimgclass}}" style='background-image: url("{{{courseimage}}}");'></div>

                    <div class="divided-flex-child-2">
                        <div class="card-body pr-1 course-info-container" id="course-info-container-{{id}}-{{uniqid}}">
                            <div class="d-flex align-items-start">
                                <div class="w-100">

                                    <div class="komptech-title">
                                        Featured course:
                                    </div>

                                    <div class="komptech-coursename">
                                        <span class="sr-only">
                                                {{#str}}aria:coursename, core_course{{/str}}
                                            </span>
                                        {{fullname}}
                                    </div>

                                    <div class="komptech-customfields">
                                        <div>
                                            <i class="fa fa-bars komptech-customfields-icon"></i>{{{subject_label}}}: {{{subject_value}}}
                                        </div>
                                        <div>
                                            <i class="fa fa-users komptech-customfields-icon"></i>{{{target_group_label}}}: {{{target_group_value}}}
                                        </div>
                                        <div>
                                            <i class="fa fa-desktop komptech-customfields-icon"></i>{{{learning_type_label}}}: {{{learning_type_value}}}
                                        </div>
                                    </div>


                                    <div class="course-summary">
                                        {{{summary}}}
                                    </div>

                                    {{^visible}}
                                        <div class="d-flex flex-wrap">
                                            <span class="badge badge-info">{{#str}} hiddenfromstudents {{/str}}</span>
                                        </div>
                                    {{/visible}}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {{/courses}}

    </div>
</div>

{{#js}}
    require(['filter_courselist/slick_carousel_hero'], (module) => module.init("#carousel-{{uniqid}}"));
{{/js}}
